/* Add your CSS styles here */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.movie-details {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.download-link {
    text-align: center;
    margin-top: 20px;
}

.download-button {
    display: inline-block;
    background-color: blue;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}

.download-button:hover {
    background-color: black;
}

/* Style the download buttons */
.movie-card a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #007bff; /* Button background color */
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.movie-card a:hover {
    background-color: #0056b3; /* Button background color on hover */
}

.footer {
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background color */
    padding: 20px;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #fff;
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
}




/* Updated hover styles for links */
#Contact-link:hover,
#Request-link:hover,
#About-link:hover,
#dreamer-link:hover {
    color: #00C853;
    background-color: #FFF;
    border-radius: 5px;
    padding: 5px 10px;
    transition: all 0.3s ease;
}

